html 
    head 
    body 
        h1 Name: #{details.name}
        h3 Mobile: #{details.mobile}
        h3 EmailID: #{details.email}
        h3 Salary: #{details.salary}
        h3 Experiance: #{details.experiance}